/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

#index-header {
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

div.header-div-1 {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 80%;
}

div.header-div-2 {
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.lambda-logo {
    margin: 0 auto;
    display: flex;
    width: 23%;
    margin-left: 1%;
}

.header-nav {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    
}

.header-anchor {
    color: black !important;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-anchor a {
    color: black;
    text-decoration: none;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    /* background: black; */
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

div.box1 { background: teal; }
div.box2 { background: gold; }
div.box3 { background: cadetblue; }
div.box4 { background: coral; }
div.box5 { background: crimson; }
div.box6 { background: forestgreen; }
div.box7 { background: darkorchid; }
div.box8 { background: hotpink; }
div.box9 { background: indigo; }
div.box10 { background: dodgerblue; }

#dashed-underline  {
    padding-bottom: 1%;
    border-bottom: 1px dashed black !important;
}
/* end of index html */

body.about-page-body-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70%;
    margin: 0 auto;
}

div.about-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}
div.box-container-within {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

div.about-page-descriptors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
    padding: 1%;
    margin: 2% 2%;
    color: black;
    border-bottom: 1px dashed black !important;
}

div.about-page-descriptors img {
    max-width: 100%;
    order: -1;
}

div.about-page-descriptors h2, div.about-page-descriptors p, div.about-page-descriptors.learn-more {
    padding: 2%;
}

div.lets-work {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    padding: 3%;
}

div.footer-div {
    margin: 0 auto;
    display: flex;
    width: 70%;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
}

div.footer-div footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.learn-more {
    text-decoration: none;
    color: black;
    border: solid 2px black;
    border-radius: 20%;
    padding: 2%;
    margin-top: 2%;
    border-width: thick !important;
}

#about-header {
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 70%;
}
